#nav li{
    display: block;
    position: auto;
}

#nav ul{
    list-style-type: none;
}

#nav ul li{
    display: none;
}

#nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
}

#search{
   	width: 100%; 
   	max-width: 300px; 
   	box-sizing: border-box;
}
